services:
  mailpit:
    image: axllent/mailpit:latest
    container_name: mailpit
    restart: unless-stopped
    ports:
        - "8025:8025"   # Web interface
        - "1025:1025"   # SMTP server

